body {
    background-color: #186ddf;
    margin: 0;
    padding: 0;
}
.start {
    display: flex;
    align-items: center;
    justify-content: center;
    .start-container {
        width: 500px;
        height: 400px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        margin-top: 200px;
        box-shadow: -1px 1px 32px 2px rgba(0,0,0,0.2);
    
        button {
            border: 0;
            border-radius: 4px;
            background-color: #25d92f;
            padding: 4px 10px;
            color: #fff;
            width: 150px;
            height: 50px;
            font-size: 20px;
            text-transform: uppercase;
            cursor: pointer;
            letter-spacing: 2px;
        }
    }
}
.keyboard {
    font-family: sans-serif;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
    .row{
        display: flex;

        .letter {
            border: 0;
            background-color: rgba(255, 255, 255, 0.2);
            padding: 5px;
            font-size: 20px;
            border-radius: 4px;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 2px;
            color: #fff;
            box-sizing: border-box;

            &.current {
                border: 1px solid #ccc;
            }

            &.border-red {
                border: 2px solid  #c00;
            }

            &-space {
                width: 306px;
            }
        }
    }
}
.loader {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: #fff;
    font-size: 40px;
    font-family: cursive;
}
.keyboard-error{
    color: #ffffff;
    font-size: 22px;
    font-family: cursive;
    margin-top: 30px;
    border-radius: 10px;
    padding: 2px 27px;
}
.title {
    margin-top: 80px;
    font-size: 50px;
    color:#fff;
    text-align: center;
    font-family: cursive;
}

.start-btn {
    border: 0;
    border-radius: 4px;
    background-color: #fff;
    width: 200px;
    margin: 100px auto 0;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    font-family: cursive;
    font-size: 27px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 0px 21px 6px rgb(0 0 0 / 20%);
    color:#333;
}
.words {
    display: flex;
    justify-content: center;
    margin-top: 78px;
    flex-direction: column;
    align-items: center;
    position: relative;

    .info {
        display: flex;
        font-family: cursive;
        margin-bottom: 40px;
        .num-of-symbols {
            font-size: 18px;
            color: #fcff33;
        }
        .error-text, .timer, .letters-per-min {
            
            font-size: 18px;
            color: #fcff33;
            margin-right: 50px;
        }
    }
    .word {
        margin: 0 auto;
        color: #333;
        background-color: #fff;
        padding: 10px;
        border-radius: 4px;
        font-family: sans-serif;
        font-size: 28px;
        letter-spacing: 2px;
        position: relative;

        .red {
            background-color: #c00;
        }

        

        

        

        .left, .right {
            display: inline;
        }

        .completed {
            display: inline;
           background-color: #ccc;
        }

        .not-completed {
            display: inline;
        }
    }
}

.finished-modal {
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 21px 6px rgb(0 0 0 / 20%);
    background-color: #fff;
    max-width: 500px;
    margin: 0 auto;
    min-height: 200px;
    padding: 40px 20px;
    margin-top: 40px;

    .modal-title {
        text-align: center;
        font-family: cursive;
        font-size: 20px;
        
    }

    .modal-info {
        width: 300px;
        margin: 30px auto 0;
        font-family: cursive;
        display: flex;
        justify-content: center;

        .num-result {
            font-size: 24px;
        }

        .error-box {
            border: 0;
            padding: 10px;
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: #ff5151;
            color: #fff;
            border-radius: 7px;
            margin-right: 20px;
            justify-content: center;
        }

        .letters-min-box {
            border: 0;
            padding: 10px;
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: #5de727;
            color: #fff;
            border-radius: 7px;
            justify-content: center;
        }
    }

    .buttons {
 
        width: 300px;
        margin: 30px auto 0;
        font-family: cursive;
        display: flex;
        justify-content: space-between;

        button {
            border:0;
            background-color: #186ddf;
            color: #fff;
            border-radius: 4px;
            padding: 4px 15px;
            cursor: pointer;
            width: 100px;
            font-family: cursive;
        }
        
    }
}

@media screen and ( max-width: 600px) {
    .words {
        margin-top: 20px;
        .word {
        font-size: 14px;
        }

        .info {
            flex-direction: column;
            text-align: center;
        }
    }

    .keyboard  {
        margin-top: 40px;
        .row {
            .letter {
                width: 25px;
                height: 25px;
                font-size: 12px;
            }

            .letter-space {
                width: 200px;
            }
        }
    }
}
