body {
    background-color: #186ddf;
    margin: 0;
    padding: 0;
}
.start {
    display: flex;
    align-items: center;
    justify-content: center;
    .start-container {
        width: 500px;
        height: 400px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        margin-top: 200px;
        box-shadow: -1px 1px 32px 2px rgba(0,0,0,0.2);
    
        button {
            border: 0;
            border-radius: 4px;
            background-color: #25d92f;
            padding: 4px 10px;
            color: #fff;
            width: 150px;
            height: 50px;
            font-size: 20px;
            text-transform: uppercase;
            cursor: pointer;
            letter-spacing: 2px;
        }
    }
}

.loader {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    color: #fff;
    font-size: 40px;
}

.title {
    margin-top: 80px;
    font-size: 50px;
    color:#fff;
    text-align: center;
    font-family: cursive;
}
.words {
    display: flex;
    justify-content: center;
    margin-top: 100px;

    position: relative;

    
    .word {
        margin: 0 auto;
        color: #333;
        background-color: #fff;
        padding: 10px;
        border-radius: 4px;
        font-family: cursive;
        font-size: 30px;
        letter-spacing: 2px;
        position: relative;

        .red {
            background-color: #c00;
        }

        .info {
            position: absolute;
            top: -40px;
            display: flex;
        }

        .num-of-symbols {
            font-size: 18px;
            color: #fcff33;
        }

        .error-text, .timer, .letters-per-min {
            
            font-size: 18px;
            color: #fcff33;
            margin-right: 50px;
        }

        .left, .right {
            display: inline;
        }

        .completed {
            display: inline;
           background-color: #ccc;
        }

        .not-completed {
            display: inline;
        }
    }
}
